body {
  --activeUsersWith: 280px
}
.users {
  position: absolute;
  margin-left: 10px;
  margin-top: var(--header-height);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: hsl(238, 22%, 10%);
  border-radius: 20px;
  z-index: 2;
  width: var(--activeUsersWith);
  box-sizing: border-box;
}

.users .title {
  padding: 10px;
}

.users .fallback {
  white-space: pre;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  gap: 6px;
  min-width: 100px;
  height: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.user .publisher {
  flex-wrap: nowrap;
}

.user .username {
  margin-right: 10px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.status {
  margin-left: auto;
  color: #a9cc00;
}

.status.offline {
  color: red;
}

.status.typing::after {
  content: "...";
}

.ConversationArea {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.head .chevron-left {
  position: absolute;
  right: 10px;
}
.users.hide {
  --activeUsersWith: 0px
  width: fit-content;
}
.users.hide :is(.chevron-left, .title, .user, .fallback) {
  display: none;
}
