.auth {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.full-screen-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../svg/bg.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -2;

}

.notification {
    background-color: rgb(17, 195, 17);
    color: black;
    height: max-content;
    width: max-content;
    padding: 24px 32px;
    box-Shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-Index: 1000;
    font-Size: 16px;
    font-Weight: bold;
    position: absolute;
    top: 20vh;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%);
}

.notificationError {
    background: rgb(224, 52, 52);
    color: white;
    height: max-content;
    width: max-content;
    padding: 24px 32px;
    box-Shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-Index: 1000;
    font-Size: 16px;
    font-Weight: bold;
    position: absolute;
    top: 10%;
    left: 40%;
    border-radius: 20px;
}

.blur-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(22, 24, 33, 0.4);
    backdrop-filter: blur(2px);
    z-index: -1;
}

.authentication {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputContainer {
    display: flex;
    gap: 8px;
}

.card {
    /* width: fit-content; */
    gap: 24px;
    background: #1F222B;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
    padding: 24px;
}

.toggle {
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 16px;
    background-color: #101218;
    cursor: pointer;
}

span {
    color: white;
    padding: 6px 20px;
    font-family: sans-serif;
    border-radius: 14px;
}

.clicked {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.096);
    font-weight: bold;

}

.card::before {
    content: "";
    border-radius: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(129.76deg, #ffffff49 -0.72%, #ffffff00 80.04%);
    top: 50%;
    left: 50%;
    z-index: -1;
    translate: -50% -50%;
    padding: 1.5px;
}

.tocenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    align-self: center;
}


.auth .input {
    border: none;
    display: flex;
    padding: 16px 16px;
    gap: 8px;
    min-width: 300px;
    height: 48px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;

}

.input:focus {
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttonContainer button,
.btns button {
    background: #FD5F49;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 16px 16px;
    flex-grow: 1;
    border-radius: 16px;
    height: 48px;
    font-weight: 600;
    cursor: pointer;

}

button.secondary {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
}

.auth form {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    gap: 16px;
}