.categories {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    gap: 16px;
    overflow: scroll;
    width: 900px;
    margin: auto;
}
.filter {
    width: 80%;
    max-width: 900px;
    align-self: center ;
    overflow: scroll;
}
.category {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.06px;
    padding: 12px 24px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(3.45px);
    border-radius: 76px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.category.active {
    padding: 12px 24px 12px 24px;
    gap: 12px;
    border-radius: 76px;
    border: 1px 0px 0px 0px;
    background: none;
    font-weight: 700;
    font-size: 16px;
    color: #fd5f49;
    border: 1px solid #fd5f49;
}

.category:hover {
    background-color: #555;
}