body {
    background: linear-gradient(129.76deg, #252937 -0.72%, #101218 80.04%);
    color: white;
    font-family: sans-serif;
}

.toCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.headerContainer {
    padding: 24px;
    background: linear-gradient(90deg, rgba(253, 95, 73, 0.2) 0%, rgba(73, 142, 253, 0.08) 100%);
    display: flex;
    flex-direction: row;
    width: max-content;
    border-radius: 24px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FD5F49;
}

h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

p,
h2 {
    margin: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    background: #FD5F49;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 24px 24px;
    flex-grow: 1;
    border-radius: 16px;
    height: 48px;
    font-weight: 600;
    cursor: pointer;

}
.primary:hover {
    background: #df5341;
}

.secondary {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
}
.secondary:hover {
    background-color: rgba(255, 255, 255, 0.100);
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}