body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(129.76deg, #252937 -0.72%, #101218 80.04%);
}
.icons {
    display: flex;
    flex-direction: row;
    gap: 64px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 100px;
    align-items: center;
}
.menu-toggle {
    color: white;
    display: none;
}
p {
    display:none;
}
.close {
    display:none;
}
.contain {
    width: max-content;
    position: relative;
    align-items: center;
    justify-content: center;
}
.contain::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 40px;
}

.contain:hover::after {
    width: 100%;
    top: 140%;
    left: 0%;
    background-color: #FD5F49;
    transform: scaleX(1);
}
.icon {
    stroke: #777980;
    fill: none;
    opacity: 1;
    stroke-width: 1.5;
   
}
.icon:hover:not(.active){
    stroke: #FD5F49;
    cursor: pointer;
}
.icon:hover {
    cursor: pointer;
}
.icon.active {

}
.icon.active {
    fill: #FD5F49;
    stroke: none;
}
@media (max-width: 1100px){
    .logo {
    width: 110px;
    }
    .icn {
        width: 20px;
    }
    .profile {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .icons {
        display: none;
    }
    .profile {
        display: none;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        position:absolute;
        z-index:3;

    }
    .icons.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-top: 300px;
        gap:32px;
        right:0px;
        top:0px;
        width: 70%;
        height:100%;
        background: #252937;
        padding: 24px;
    } 
    i {
        display:flex;
        align-items:center;
    }
    i.active  {
        color:red;
    }
    p {
        display:inline-block;
        margin : 0px 10px;
        color :white;
        font-family: sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
    .close {
        display:block;
        color :white; 
        position: absolute;
        z-index:3;
        cursor:pointer;
        top: 24px;
        right:64px;
    }

}