@import url("./menu.css");

header {

    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MuiSvgIcon {
    --MuiSvgIcon-root: 0;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.themeSwitcher {
    overflow: hidden;
    position: relative;
    padding: 5px 10px;
    z-index: 1;
}


.lightButton,
.darkButton {
    animation: slideToCenter 0.7s;
    transition: all 0.7s;
}

:root[data-theme="light"] .darkButton,
:root[data-theme="dark"] .lightButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideToRight 0.7s;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.leftSection {
    display: flex;
    gap: 1rem;
}

@keyframes slideToRight {
    from {}

    to {
        transform: translate(100%);
    }
}

@keyframes slideToCenter {
    from {
        transform: translate(-100%, 100%);
    }

    to {}
}