@import url("./menu.css");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap");

header {
    border-bottom: var(--text) solid 1px;
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background: var(--background);
    padding: 0.5rem 1rem;
}

.MuiSvgIcon {
    --MuiSvgIcon-root: 0;
    user-select: none;
    width: clamp(1rem, 3.1vw, 1.5rem);
    display: inline-block;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.themeSwitcher {
    overflow: hidden;
    position: relative;
    z-index: 1;
}


.lightButton,
.darkButton {
    animation: slideToCenter 0.7s;
    transition: all 0.7s;
}

:root[data-theme="light"] .darkButton,
:root[data-theme="dark"] .lightButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideToRight 0.7s;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.leftSection,
.rightSection {
    display: flex;
    gap: 1vw;
    align-items: center;

}

@keyframes slideToRight {
    from {}

    to {
        transform: translate(100%);
    }
}

@keyframes slideToCenter {
    from {
        transform: translate(-100%, 100%);
    }

    to {}
}

.addPost {
    transition: all 0.6s;
}

.addPost.active {
    transform: rotate(180deg) scale(1.2);
}