@import url("./post.css");
@import url("./postView.css");
@import url("./auth.css");
@import url("./createPostForm.css");
@import url("./categories.css");

.homePage {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 10vh 0;
}

.posts {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1380px) {
  .homePage {
    padding: 10vw 20vw;
  }
}

@media screen and (max-width: 575px) {
  .publisher div:nth-child(3) {
    font-size: 0.6rem;
  }

  .postContainer {
    flex-wrap: wrap;
  }

  .leftBar {
    flex-direction: row;
    margin: auto;
  }
}

@media screen and (max-width: 980px) {
  .postContainer, .create-post, .categories {
    width: 700px;
  }
}


@media screen and (max-width: 700px) {
  .postContainer, .create-post, .categories {
    max-width: 100%;
  }

  .homePage {
    padding: 10vh 5vw;
  }
}


@media screen and (min-width: 1380px) {
  .postContainer, .create-post, .categories {
    width: 1000px;
  }

  .post .text {
    line-height: 2rem;
  }
}