@import url("./post.css");

.homePage {
    display: flex;
    flex-direction: column;
    gap: 39px;
    padding: 10vh 20vw;
}

.posts {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (orientation: portrait) {

    .homePage {
        padding: 10vh 10vmin;
    }
}