@import url('https://fonts.googleapis.com/css?family=Patua%20One:700|Patua%20One:400');
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root[data-theme="light"] {
    --text: #050316;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dddbff;
    --accent: #443dff;
}

:root[data-theme="dark"] {
    --text: hsla(0, 0%, 100%, 1);
    --background: linear-gradient(129.76deg, #252937 -0.72%, #101218 80.04%);
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;
}


h1 {
    margin: 0;
    padding: 0;
}

* {
    color: var(--text);
}

body {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background: var(--background);
}

a {
    text-decoration: none;
}

.glow:hover {
    filter: drop-shadow(0px 0px 10px var(--text)) brightness(130%);
}

svg {
    cursor: pointer;
    fill: var(--text);
}