.menu {
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid hsl(from var(--text) h s l / 0.5); */
    position: relative;
    z-index: 1;
}

.menu path {
    color: currentColor;
    transition-duration: 0.5s;
    transform-origin: center;
}

.menu.active path {
    color: red;
}

.menu.active path:first-child {
    transform: translate(100%);
}

.menu.active path:nth-child(2) {
    transform: rotate(45deg);
}

.menu.active path:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.active path:last-child {
    transform: translate(-100%);
}