.postContainer {
    position: relative;
    display: flex;
    gap: 10px;
    border-radius: 24px;
    width: 900px;
    margin: auto;
}


.post  {
    width: 100%;
    position: relative;
    padding: 40px;
    gap: 8px;
    border-radius: 24px;
    z-index: 1;
    background: #FFFFFF14;
    overflow: hidden;
    cursor: default;
    max-height: 35vh;
}

.post .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 1.5rem;
    max-height: calc(80% - 2rem);
}

.post .title {
    font-family: "Inter";
    font-weight: 600;
    line-height: 1.9vmax;
    min-height: 1.9vmax;
    padding: 5px 0;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftBar {
    padding: 10px;
    margin-top: 1rem;
    gap: 8px;
    display: flex;
    flex-direction: column;
}


.leftBar>* {
    width: 20px;
    height: 29px;
    padding: 10px;
    gap: 8px;
    border-radius: 24px;
    background: hsla(0, 0%, 100%, 0.08);
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.42);
}

.publisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    
}

.publisher img {
    border-radius: 100%;
    width: 2rem;
}

.publisher div:nth-child(2) {
    font-size: 0.875rem;
    line-height: 16.94px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.publisher div:nth-child(3) {
    font-size: 0.75rem;
    color: #FFFFFF52;
}

.readmore {
    font-size: clamp(0.75rem, 1vw, 0.5rem);
    font-weight: 700;
    line-height: 14.52px;
    text-align: left;
    color: #FD5F49;
    cursor: pointer;
    width: fit-content;
    padding-top: 1rem;
}
.commentCreator {
    color: green;
}