<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">
    <title>Register</title>
</head>
<body>  
<form class="form" id="lform" al>
    <p class="title">Login </p>
    <p class="message">login into your existent account. </p>
        <label>
            <input class="input" type="text" name="username" required="">
            <span>Firstname</span>
        </label>            
    <label>
        <input class="input" type="email" name="email" required="">
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" type="password" name="password" required="">
        <span>Password</span>
    </label>
    <button class="submit">login</button>
    <p class="signin">create new account ? <a href="/register">register</a> </p>
</form>
<script>
    let form = document.querySelector("#lform")
form.addEventListener("submit",async(e)=>{
    e.preventDefault()
let password = document.querySelector('input[name="password"]')
let email =  document.querySelector('input[name="email"]')
let username =   document.querySelector('input[name="username"]')
await fetch("/api/login",{
    method:"post",
    body: JSON.stringify({
        password:password.value,
        email:email.value,
        username:username.value,
    })
})
})
</script>
</body>

</html>