<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        iframe {
            border: 1px solid rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe src="https://embed.figma.com/board/8JkAXI3fMh8TCWai5is3YY/Forum-Roadmap?node-id=0-1&embed-host=share" allowfullscreen></iframe>
</body>
</html>